# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env files - ignore all environment files for maximum security
config/.env*
!config/.env.example

# Editor/IDE
# .idea/
.vscode/
src/docs/dev_swagger.json
src/docs/dev_swagger.yaml
src/docs/swagger.json
src/docs/swagger.yaml
ssl/cert.pem
ssl/key.pem
